Repository rapidsai/ucxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                              @rapidsai/ucxx-cpp-codeowners

#python code owners
python/                           @rapidsai/ucxx-python-codeowners

#cmake code owners
cpp/CMakeLists.txt                @rapidsai/ucxx-cmake-codeowners
cpp/python/CMakeLists.txt         @rapidsai/ucxx-cmake-codeowners
cpp/examples/CMakeLists.txt       @rapidsai/ucxx-cmake-codeowners
cpp/benchmarks/CMakeLists.txt     @rapidsai/ucxx-cmake-codeowners
cpp/tests/CMakeLists.txt          @rapidsai/ucxx-cmake-codeowners
python/CMakeLists.txt             @rapidsai/ucxx-cmake-codeowners
python/ucxx/_lib/CMakeLists.txt   @rapidsai/ucxx-cmake-codeowners
fetch_rapids.cmake                @rapidsai/ucxx-cmake-codeowners
**/cmake/                         @rapidsai/ucxx-cmake-codeowners

#build/ops code owners
.github/                          @rapidsai/ops-codeowners
ci/                               @rapidsai/ops-codeowners
conda/                            @rapidsai/ops-codeowners

Remove `ucxx::utils::condition{Getter,Setter}` functions
  cpp/include/ucxx/utils/condition.h
Owners: @rapidsai/ucxx-cpp-codeowners

Revert CUDA 12.0 CI workflows to branch-23.08.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Fix wrong cancelation of all `ucxx::Worker` requests
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use local variable instead of attribute
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Pass missing local variable to lambda
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Remove user-defined function to run from `CallbackNotifier`
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Update `CallbackNotifier` documentation
  cpp/include/ucxx/utils/callback_notifier.h
Owners: @rapidsai/ucxx-cpp-codeowners

Update variable names to follow project's code convention
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix wrong variable name
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Revert CUDA 12.0 CI workflows to branch-23.08. (#67)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Set a 1 ms epoll timeout for Python async progress thread
  python/ucxx/_lib_async/continuous_ucx_progress.py
Owners: @rapidsai/ucxx-python-codeowners

Do not progress worker in "thread" mode in Python test utils
  python/ucxx/_lib_async/tests/utils.py
Owners: @rapidsai/ucxx-python-codeowners

Fix Python async `test_reset` logic
  python/ucxx/_lib_async/tests/test_reset.py
Owners: @rapidsai/ucxx-python-codeowners

Fix Python async tests and unmark xfail
  python/ucxx/_lib_async/tests/test_endpoint.py
  python/ucxx/_lib_async/tests/test_probe.py
  python/ucxx/_lib_async/tests/test_shutdown.py
Owners: @rapidsai/ucxx-python-codeowners

Remove duplicate run of Python sync tests in CI
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Set default Python async epoll timeout and fix more tests (#68)
  ci/test_python.sh
  python/ucxx/_lib_async/continuous_ucx_progress.py
  python/ucxx/_lib_async/tests/test_endpoint.py
  python/ucxx/_lib_async/tests/test_probe.py
  python/ucxx/_lib_async/tests/test_reset.py
  python/ucxx/_lib_async/tests/test_shutdown.py
  python/ucxx/_lib_async/tests/utils.py
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-python-codeowners

Do not force progress tests in thread progress mode
  python/ucxx/_lib_async/tests/test_from_worker_address_error.py
Owners: @rapidsai/ucxx-python-codeowners

Sync stream after allocation and result copy to host
  cpp/tests/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

v0.34
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/ucxx-cuda118_arch-x86_64.yaml
  conda/recipes/ucxx/meta.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  fetch_rapids.cmake
  python/CMakeLists.txt
  python/pyproject.toml
  python/ucxx/__init__.py
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-python-codeowners

Sync stream after allocation and result copy to host (#69)
  cpp/tests/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Update conda/recipes/ucxx/meta.yaml
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Use gtest version from conda_build_config.yaml. (#66)
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix destruction of `ucxx::RequestTagMulti`
  cpp/include/ucxx/request_tag_multi.h
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use the status of first failing request in `ucxx::RequestTagMulti`
  cpp/include/ucxx/request_tag_multi.h
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Remove now redundant trace logs from `ucxx::RequestTagMulti`
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add lifetime trace logs for `ucxx::BufferRequest`
  cpp/include/ucxx/request_tag_multi.h
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Execute user callback within `ucxx::Request::setStatus()`
  cpp/src/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Return `std::shared_ptr<Buffer>` in `allocateBuffer()`
  cpp/include/ucxx/buffer.h
  cpp/include/ucxx/request_tag_multi.h
  cpp/src/buffer.cpp
  cpp/tests/buffer.cpp
  cpp/tests/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Fix null pointer dereference
  python/ucxx/_lib/libucxx.pyx
Owners: @rapidsai/ucxx-python-codeowners

Ensure `BufferType` condition doesn't dereference `Invalid` type
  python/ucxx/_lib/libucxx.pyx
Owners: @rapidsai/ucxx-python-codeowners

Introduce mutex in `ucxx::Request`
  cpp/include/ucxx/request.h
  cpp/src/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Minor `ucxx::RequestTagMulti` code cleanup
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Improve `ucxx::Request` internal locking mechanism
  cpp/include/ucxx/request.h
  cpp/src/request.cpp
  cpp/src/request_am.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Hold mutex to execute user callback, now that it's reentrant
  cpp/src/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Hold the mutex only during write to `_request`
  cpp/src/request_am.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Try using `pytest.mark.flaky` instead of `rerun_on_failure`
  dependencies.yaml
  python/ucxx/_lib_async/tests/test_send_recv_multi.py
Owners: @rapidsai/ucxx-python-codeowners

Fix destruction of `ucxx::RequestTagMulti` and final status (#72)
  cpp/include/ucxx/buffer.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_tag_multi.h
  cpp/src/buffer.cpp
  cpp/src/request.cpp
  cpp/src/request_am.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
  cpp/src/request_tag_multi.cpp
  cpp/tests/buffer.cpp
  cpp/tests/worker.cpp
  dependencies.yaml
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
  python/ucxx/_lib_async/tests/test_send_recv_multi.py
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Use `notify_all()` in `CallbackNotifier`
  cpp/include/ucxx/utils/callback_notifier.h
Owners: @rapidsai/ucxx-cpp-codeowners

Do not force progress in endpoint close with progress thread
  python/ucxx/_lib_async/endpoint.py
Owners: @rapidsai/ucxx-python-codeowners

Improve docs and remove unnecessary includes
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
Owners: @rapidsai/ucxx-cpp-codeowners
