Repository rapidsai/ucxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ops-codeowners

Pass missing `enableFuture` argument to `ucxx::Python::createWorker()`
  cpp/python/src/worker.cpp
Owners: @rapidsai/ucxx-python-codeowners

Fix rmm dependency.
  dependencies.yaml
Owners: none

Fix RMM dependency (#54)
  dependencies.yaml
Owners: none

Replace `posix` transport with `self` in `test_check_transport`
  python/ucxx/_lib_async/tests/test_info.py
Owners: @rapidsai/ucxx-python-codeowners

Fix null pointer dereferencing in log
  cpp/src/request_am.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Revert "Inherit `ucxx::Component` by `ucxx::DelayedSubmission`"
  cpp/include/ucxx/delayed_submission.h
  cpp/src/internal/request_am.cpp
  cpp/src/request_am.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Ensure `ucxx::Request` lifetime for delayed submission
  cpp/include/ucxx/delayed_submission.h
  cpp/include/ucxx/worker.h
  cpp/src/delayed_submission.cpp
  cpp/src/request_am.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Prevent enabling delayed submission in non-thread progress mode
  python/ucxx/_lib_async/application_context.py
  python/ucxx/_lib_async/tests/test_worker.py
Owners: @rapidsai/ucxx-python-codeowners

Attempt to run C++ benchmark client multiple times
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Remove versioneer
  python/ucxx/__init__.py
  python/ucxx/_version.py
Owners: @rapidsai/ucxx-python-codeowners

Update version release script
  ci/release/update-version.sh
  cpp/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cmake-codeowners

Update version to 0.33.00
  cpp/CMakeLists.txt
  python/CMakeLists.txt
  python/pyproject.toml
  python/ucxx/__init__.py
Owners: @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-python-codeowners

Update C++/Python version to 0.33.00 and remove `_version.py` (#56)
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  python/CMakeLists.txt
  python/pyproject.toml
  python/ucxx/__init__.py
  python/ucxx/_version.py
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-python-codeowners

More fixes (#55)
  build_and_run.sh
  ci/test_cpp.sh
  cpp/src/request.cpp
  cpp/src/worker.cpp
  python/ucxx/_lib_async/application_context.py
  python/ucxx/_lib_async/endpoint.py
  python/ucxx/_lib_async/tests/test_worker.py
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Remove now irrelevant TODO comment
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Remove `const` qualifier from `ucxx::Worker::tagProbe()`
  cpp/include/ucxx/worker.h
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Replace `std::make_pair` by initializer list
  cpp/src/delayed_submission.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Limit progress mode for `test_send_recv_am`
  python/ucxx/_lib_async/tests/test_send_recv_am.py
Owners: @rapidsai/ucxx-python-codeowners

Use different ports for C++ benchmarks/examples in CI
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Add Active Messages support (#48)
  cpp/CMakeLists.txt
  cpp/include/ucxx/constructors.h
  cpp/include/ucxx/delayed_submission.h
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/internal/request_am.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_am.h
  cpp/include/ucxx/typedefs.h
  cpp/include/ucxx/worker.h
  cpp/python/src/worker.cpp
  cpp/src/delayed_submission.cpp
  cpp/src/endpoint.cpp
  cpp/src/internal/request_am.cpp
  cpp/src/request.cpp
  cpp/src/request_am.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
  cpp/src/request_tag_multi.cpp
  cpp/src/worker.cpp
  cpp/tests/include/utils.h
  cpp/tests/request.cpp
  cpp/tests/utils.cpp
  cpp/tests/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/tests/test_probe.py
  python/ucxx/_lib/tests/test_server_client.py
  python/ucxx/_lib/ucxx_api.pxd
  python/ucxx/_lib_async/endpoint.py
  python/ucxx/_lib_async/tests/test_info.py
  python/ucxx/_lib_async/tests/test_probe.py
  python/ucxx/_lib_async/tests/test_send_recv_am.py
Owners: @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Wait Python async AM test message to arrive
  python/ucxx/_lib_async/tests/test_send_recv_am.py
Owners: @rapidsai/ucxx-python-codeowners

Move `ucxx::Request` status setting to base class
  cpp/src/request.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Set `UCX_TCP_KEEPINTVL` for Python benchmarks in CI
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Revert accidental S3 changes
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Prevent deadlock in `ucxx::InflightRequests`
  cpp/src/inflight_requests.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add distributed-ucxx subproject
  python/distributed-ucxx/LICENSE
  python/distributed-ucxx/README.md
  python/distributed-ucxx/distributed_ucxx/__init__.py
  python/distributed-ucxx/distributed_ucxx/_version.py
  python/distributed-ucxx/distributed_ucxx/tests/conftest.py
  python/distributed-ucxx/distributed_ucxx/tests/test_comms.py
  python/distributed-ucxx/distributed_ucxx/tests/test_deserialize.py
  python/distributed-ucxx/distributed_ucxx/tests/test_nanny.py
  python/distributed-ucxx/distributed_ucxx/tests/test_ucx.py
  python/distributed-ucxx/distributed_ucxx/tests/test_ucx_config.py
  python/distributed-ucxx/distributed_ucxx/tests/test_worker.py
  python/distributed-ucxx/distributed_ucxx/ucxx.py
  python/distributed-ucxx/distributed_ucxx/utils_test.py
  python/distributed-ucxx/pyproject.toml
  python/distributed-ucxx/setup.py
Owners: @rapidsai/ucxx-python-codeowners

Reference count distributed-ucxx resources
  python/distributed-ucxx/distributed_ucxx/ucxx.py
Owners: @rapidsai/ucxx-python-codeowners

Log error when `setStatus` is called but status is already set
  cpp/src/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Wait for all endpoints to close using `asyncio.gather`
  python/ucxx/_lib_async/tests/test_send_recv_am.py
Owners: @rapidsai/ucxx-python-codeowners

Wait for listener in multi-node Python async tests
  python/ucxx/_lib_async/tests/test_multiple_nodes.py
Owners: @rapidsai/ucxx-python-codeowners

Fixes for various tests intermittently failing in CI (#58)
  ci/test_cpp.sh
  ci/test_python.sh
  cpp/src/request.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
  python/ucxx/_lib_async/tests/test_multiple_nodes.py
  python/ucxx/_lib_async/tests/test_send_recv_am.py
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Add CUDA 12.0 build matrix
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
  python/.flake8
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-python-codeowners

Fix `cudatoolkit` versions in `meta.yaml`
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix `cuda-version`
  dependencies.yaml
Owners: none

Depend on `cuda-cudart-dev` for building
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Add `host` section to build `libucxx-tests`
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Move CUDA requirements to `ucxx` package
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Require `cuda-cudart-dev` in `host` section of `ucxx`'
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Remove redundant `cudatoolkit` version constraint
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Derive `ucxx::RequestTagMulti` from `ucxx::Request`
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_tag_multi.h
  cpp/src/endpoint.cpp
  cpp/src/request_tag_multi.cpp
  cpp/tests/request.cpp
  cpp/tests/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                              @rapidsai/ucxx-cpp-codeowners

#python code owners
python/                           @rapidsai/ucxx-python-codeowners

#cmake code owners
cpp/CMakeLists.txt                @rapidsai/ucxx-cmake-codeowners
cpp/python/CMakeLists.txt         @rapidsai/ucxx-cmake-codeowners
cpp/examples/CMakeLists.txt       @rapidsai/ucxx-cmake-codeowners
cpp/benchmarks/CMakeLists.txt     @rapidsai/ucxx-cmake-codeowners
cpp/tests/CMakeLists.txt          @rapidsai/ucxx-cmake-codeowners
python/CMakeLists.txt             @rapidsai/ucxx-cmake-codeowners
python/ucxx/_lib/CMakeLists.txt   @rapidsai/ucxx-cmake-codeowners
fetch_rapids.cmake                @rapidsai/ucxx-cmake-codeowners
**/cmake/                         @rapidsai/ucxx-cmake-codeowners

#build/ops code owners
.github/                          @rapidsai/ops-codeowners
ci/                               @rapidsai/ops-codeowners
conda/                            @rapidsai/ops-codeowners
