Repository rapidsai/ucxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                              @rapidsai/ucxx-cpp-codeowners

#python code owners
python/                           @rapidsai/ucxx-python-codeowners

#cmake code owners
cpp/CMakeLists.txt                @rapidsai/ucxx-cmake-codeowners
cpp/python/CMakeLists.txt         @rapidsai/ucxx-cmake-codeowners
cpp/examples/CMakeLists.txt       @rapidsai/ucxx-cmake-codeowners
cpp/benchmarks/CMakeLists.txt     @rapidsai/ucxx-cmake-codeowners
cpp/tests/CMakeLists.txt          @rapidsai/ucxx-cmake-codeowners
python/CMakeLists.txt             @rapidsai/ucxx-cmake-codeowners
python/ucxx/_lib/CMakeLists.txt   @rapidsai/ucxx-cmake-codeowners
fetch_rapids.cmake                @rapidsai/ucxx-cmake-codeowners
**/cmake/                         @rapidsai/ucxx-cmake-codeowners

#build/ops code owners
.github/                          @rapidsai/ops-codeowners
ci/                               @rapidsai/ops-codeowners
conda/                            @rapidsai/ops-codeowners

Add `ucx` version specifier
  conda/recipes/ucxx/conda_build_config.yaml
Owners: @rapidsai/ops-codeowners

Add `ucx` version specifier (#39)
  conda/recipes/ucxx/conda_build_config.yaml
Owners: @rapidsai/ops-codeowners

Use inline initialisation for endpoint params
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix typo
  cpp/include/ucxx/utils/sockaddr.h
Owners: @rapidsai/ucxx-cpp-codeowners

Use inline initialisation for remaining param structs
  cpp/src/context.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

revert pin
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Simplify handling of sockaddr information lookup (#38)
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/utils/sockaddr.h
  cpp/src/context.cpp
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/utils/sockaddr.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Revert shared-action-workflows pin (#40)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Pass request's status directly onto user-defined callback
  cpp/include/ucxx/constructors.h
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_tag.h
  cpp/include/ucxx/request_tag_multi.h
  cpp/include/ucxx/typedefs.h
  cpp/include/ucxx/worker.h
  cpp/src/endpoint.cpp
  cpp/src/request.cpp
  cpp/src/request_tag.cpp
  cpp/src/request_tag_multi.cpp
  cpp/src/worker.cpp
  cpp/tests/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

enable local sccache hits
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Enable sccache hits for local builds (#42)
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Improve callback docstrings
  cpp/include/ucxx/request_tag_multi.h
Owners: @rapidsai/ucxx-cpp-codeowners

Fix C++ listener tests
  cpp/tests/listener.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Cleanup draft code
  cpp/tests/listener.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Reenable C++ listener tests in CI
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Reenable C++ delayed submission tests in CI
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Temporarily disable Python async benchmark on CUDA 11.2
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Relax upper bound of UCX package version
  conda/recipes/ucxx/conda_build_config.yaml
Owners: @rapidsai/ops-codeowners

Add missing `host` section in conda's `meta.yaml`
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Temporarily disable Python async benchmark on CUDA 11.2 (#37)
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Execute user's callback after setting request status (#32)
  build_and_run.sh
  ci/test_cpp.sh
  cpp/include/ucxx/constructors.h
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_tag.h
  cpp/include/ucxx/request_tag_multi.h
  cpp/include/ucxx/typedefs.h
  cpp/include/ucxx/worker.h
  cpp/src/endpoint.cpp
  cpp/src/request.cpp
  cpp/src/request_tag.cpp
  cpp/src/request_tag_multi.cpp
  cpp/src/worker.cpp
  cpp/tests/request.cpp
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cpp-codeowners

Change pinning to include both UCX 1.13.0 and 1.14.0
  conda/recipes/ucxx/conda_build_config.yaml
Owners: @rapidsai/ops-codeowners

Fix condition to skip CUDA 11.2 Python async benchmarks in CI
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Fix condition to skip CUDA 11.2 Python async benchmarks in CI (#45)
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Remove UCX 1.13.0 builds for now
  conda/recipes/ucxx/conda_build_config.yaml
Owners: @rapidsai/ops-codeowners

Add C++-backed `ucxx::python::PythonFutureTask`
  cpp/python/include/ucxx/python/python_future_task.h
Owners: @rapidsai/ucxx-python-codeowners

Add `PythonFutureTask` example
  python/CMakeLists.txt
  python/ucxx/examples/.clang-format
  python/ucxx/examples/CMakeLists.txt
  python/ucxx/examples/CPPLINT.cfg
  python/ucxx/examples/__init__.pxd
  python/ucxx/examples/__init__.py
  python/ucxx/examples/python_future_task.h
  python/ucxx/examples/python_future_task_api.pxd
  python/ucxx/examples/python_future_task_app.pyx
  python/ucxx/examples/python_future_task_example.py
Owners: @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-python-codeowners

Add Python examples include directory to CMake
  python/CMakeLists.txt
Owners: @rapidsai/ucxx-cmake-codeowners

Retry `ListenerTest.RaiseOnError`, flaky in CI
  cpp/tests/listener.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix `enablePython` in `ucxx::Worker`
  cpp/include/ucxx/constructors.h
  cpp/include/ucxx/context.h
  cpp/include/ucxx/worker.h
  cpp/python/include/ucxx/python/constructors.h
  cpp/python/src/worker.cpp
  cpp/src/context.cpp
  cpp/src/worker.cpp
  cpp/tests/context.cpp
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Fix enabling of delayed submission in Python async library
  python/ucxx/_lib_async/application_context.py
Owners: @rapidsai/ucxx-python-codeowners

Add missing build type for Cython library
  build.sh
Owners: none

Add tests to check worker capabilities
  cpp/tests/worker.cpp
  python/ucxx/_lib_async/tests/test_worker.py
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Add method to check whether delayed submission is enabled
  cpp/include/ucxx/worker.h
  cpp/src/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Add missing Python async context constructor arguments
  python/ucxx/core.py
Owners: @rapidsai/ucxx-python-codeowners

Update conda pinning (#44)
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix and unify `waitRequests` in a template
  cpp/tests/include/utils.h
  cpp/tests/request.cpp
  cpp/tests/utils.cpp
  cpp/tests/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add new `RequestAM` class to handle Active Messages
  cpp/CMakeLists.txt
  cpp/include/ucxx/constructors.h
  cpp/include/ucxx/internal/request_am.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_am.h
  cpp/include/ucxx/typedefs.h
  cpp/src/internal/request_am.cpp
  cpp/src/request.cpp
  cpp/src/request_am.cpp
Owners: @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-cpp-codeowners

Register AM handler in `ucxx::Worker`
  cpp/include/ucxx/worker.h
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Expose Active Messages via `ucxx::Endpoint`
  cpp/include/ucxx/endpoint.h
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners
