Repository rapidsai/ucxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ops-codeowners

Hold `ucxx::RequestTagMulti` reference
  cpp/include/ucxx/request_tag_multi.h
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix CUDA requirements
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Remove `cuda_spec` from `meta.yaml`
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Apply suggestions from code review
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Add `ignore_run_exports_from`
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Add `cuda_compiler`/`cuda11_compiler`
  conda/recipes/ucxx/conda_build_config.yaml
Owners: @rapidsai/ops-codeowners

Fix missing CUDA 11 proper handling
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Add CUDA 12.0 build matrix (#61)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
  python/.flake8
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-python-codeowners

Use Ninja as CMake generator in `build.sh`
  build.sh
Owners: none

Remove `requestTagMulti` self-reference
  cpp/include/ucxx/request_tag_multi.h
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add librmm and gtest to host environment.
  ci/release/update-version.sh
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Ensure request callbacks hold self-reference
  cpp/src/request.cpp
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use Ninja as CMake generator in `build.sh` (#63)
  build.sh
Owners: none

Add librmm and gtest to host environment. (#64)
  ci/release/update-version.sh
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Prevent `std::abort()` in request callbacks
  cpp/src/request.cpp
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix `selfReference` lifetime
  cpp/src/request.cpp
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add more debugging output for `ucxx::Request`
  cpp/src/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Prevent sending/receiving messages if resources closed
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add capability to process generic callbacks in progress thread
  cpp/include/ucxx/delayed_submission.h
  cpp/include/ucxx/worker.h
  cpp/include/ucxx/worker_progress_thread.h
  cpp/src/delayed_submission.cpp
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
  cpp/tests/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Use generic callbacks
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
  python/ucxx/_lib_async/application_context.py
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Fix `ucxx::Listener` destructor
  cpp/include/ucxx/listener.h
  cpp/src/listener.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Ensure canceling inflight requests runs in progress thread
  cpp/src/endpoint.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix docs typo
  cpp/include/ucxx/delayed_submission.h
Owners: @rapidsai/ucxx-cpp-codeowners

Derive `ucxx::RequestTagMulti` from `ucxx::Request` (#62)
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_tag_multi.h
  cpp/src/endpoint.cpp
  cpp/src/request.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
  cpp/src/request_tag_multi.cpp
  cpp/tests/request.cpp
  cpp/tests/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Mark handle `volatile` in `ucxx::Listener` destructor
  cpp/src/listener.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use gtest version from conda_build_config.yaml.
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Add helper function to set/get generic callback
  cpp/include/ucxx/utils/condition.h
Owners: @rapidsai/ucxx-cpp-codeowners

Use `condition_variable` to sync generic callbacks
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use conda_build_config.yaml for pinnings.
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Ensure `WorkerProgressThread`'s ID availability
  cpp/include/ucxx/worker.h
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Allow progressing the worker thread one last time before destruction
  cpp/include/ucxx/worker_progress_thread.h
  cpp/src/worker_progress_thread.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add `ucxx::utils::CallbackNotifier` class
  cpp/include/ucxx/utils/callback_notifier.h
Owners: @rapidsai/ucxx-cpp-codeowners

Use `CallbackNotifier` in `ucxx::Worker::cancelInflightRequest()`
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

[REVERT] Debug output
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Simplify callback notifier
  cpp/include/ucxx/utils/callback_notifier.h
Owners: @rapidsai/ucxx-cpp-codeowners

Skip test that requires RMM
  cpp/tests/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix data races in delayed submission processing
  cpp/src/delayed_submission.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use callback notifier everywhere
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Clarify variable name
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Return request on `ucxx::Worker::registerInflightRequest()`
  cpp/include/ucxx/worker.h
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                              @rapidsai/ucxx-cpp-codeowners

#python code owners
python/                           @rapidsai/ucxx-python-codeowners

#cmake code owners
cpp/CMakeLists.txt                @rapidsai/ucxx-cmake-codeowners
cpp/python/CMakeLists.txt         @rapidsai/ucxx-cmake-codeowners
cpp/examples/CMakeLists.txt       @rapidsai/ucxx-cmake-codeowners
cpp/benchmarks/CMakeLists.txt     @rapidsai/ucxx-cmake-codeowners
cpp/tests/CMakeLists.txt          @rapidsai/ucxx-cmake-codeowners
python/CMakeLists.txt             @rapidsai/ucxx-cmake-codeowners
python/ucxx/_lib/CMakeLists.txt   @rapidsai/ucxx-cmake-codeowners
fetch_rapids.cmake                @rapidsai/ucxx-cmake-codeowners
**/cmake/                         @rapidsai/ucxx-cmake-codeowners

#build/ops code owners
.github/                          @rapidsai/ops-codeowners
ci/                               @rapidsai/ops-codeowners
conda/                            @rapidsai/ops-codeowners
