Repository rapidsai/ucxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                              @rapidsai/ucxx-cpp-codeowners

#python code owners
python/                           @rapidsai/ucxx-python-codeowners

#cmake code owners
cpp/CMakeLists.txt                @rapidsai/ucxx-cmake-codeowners
cpp/python/CMakeLists.txt         @rapidsai/ucxx-cmake-codeowners
cpp/examples/CMakeLists.txt       @rapidsai/ucxx-cmake-codeowners
cpp/benchmarks/CMakeLists.txt     @rapidsai/ucxx-cmake-codeowners
cpp/tests/CMakeLists.txt          @rapidsai/ucxx-cmake-codeowners
python/CMakeLists.txt             @rapidsai/ucxx-cmake-codeowners
python/ucxx/_lib/CMakeLists.txt   @rapidsai/ucxx-cmake-codeowners
fetch_rapids.cmake                @rapidsai/ucxx-cmake-codeowners
**/cmake/                         @rapidsai/ucxx-cmake-codeowners

#build/ops code owners
.github/                          @rapidsai/ops-codeowners
ci/                               @rapidsai/ops-codeowners
conda/                            @rapidsai/ops-codeowners

Fix style
  cpp/src/listener.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add documentation on `ucxx::WorkerProgressThread` synchronization
  cpp/include/ucxx/worker_progress_thread.h
Owners: @rapidsai/ucxx-cpp-codeowners

Add capability to process generic callbacks in progress thread (#65)
  cpp/include/ucxx/delayed_submission.h
  cpp/include/ucxx/listener.h
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/include/ucxx/worker.h
  cpp/include/ucxx/worker_progress_thread.h
  cpp/src/delayed_submission.cpp
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
  cpp/tests/request.cpp
  cpp/tests/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
  python/ucxx/_lib_async/application_context.py
  python/ucxx/_lib_async/endpoint.py
  python/ucxx/_lib_async/tests/test_from_worker_address_error.py
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Update to Cython 3.0.0
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-python-codeowners

Remove unnecessary Cython compiler directives
  python/ucxx/_lib/__init__.pxd
  python/ucxx/_lib/arr.pxd
  python/ucxx/_lib/arr.pyx
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-python-codeowners

Use `cdef enum class`, now support by Cython 3
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-python-codeowners

Update to Cython 3.0.0 (#75)
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
  python/pyproject.toml
  python/ucxx/_lib/__init__.pxd
  python/ucxx/_lib/arr.pxd
  python/ucxx/_lib/arr.pyx
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-python-codeowners

Fix construction of `ucp_ep_params_t`
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Rerun C++ benchmark with different port in CI
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Improve CI logging
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_utils.sh
Owners: @rapidsai/ops-codeowners

Fix C++ benchmark run in CI and improve CI logging (#76)
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_utils.sh
Owners: @rapidsai/ops-codeowners

Ensure `_bufferRequests` is populated before `markCompleted()`
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Check status of last `RequestTagMulti` message
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fixes for `RequestTagMulti` immediate completion (#77)
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Process `ucxx::Endpoint::close()` in progress thread
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use `copy-pr-bot`
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Use `copy-pr-bot` (#79)
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Fix updating status in `ucxx::Endpoint::close()`
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Remove redundant check
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix assignment
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use conda mambabuild not mamba mambabuild.
  ci/build_cpp.sh
Owners: @rapidsai/ops-codeowners

Use `conda mambabuild` not `mamba mambabuild` (#80)
  ci/build_cpp.sh
Owners: @rapidsai/ops-codeowners

Update to clang 16.0.6.
  .pre-commit-config.yaml
Owners: none

Apply clang-format 16.0.6.
  cpp/benchmarks/perftest.cpp
  cpp/include/ucxx/address.h
  cpp/include/ucxx/buffer.h
  cpp/include/ucxx/config.h
  cpp/include/ucxx/context.h
  cpp/include/ucxx/delayed_submission.h
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/future.h
  cpp/include/ucxx/inflight_requests.h
  cpp/include/ucxx/internal/request_am.h
  cpp/include/ucxx/listener.h
  cpp/include/ucxx/notifier.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_tag_multi.h
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/include/ucxx/worker.h
  cpp/python/include/ucxx/python/notifier.h
  cpp/python/include/ucxx/python/python_future.h
  cpp/python/include/ucxx/python/worker.h
  cpp/src/worker.cpp
  cpp/tests/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Update to clang 16.0.6. (#81)
  .pre-commit-config.yaml
  cpp/benchmarks/perftest.cpp
  cpp/include/ucxx/address.h
  cpp/include/ucxx/buffer.h
  cpp/include/ucxx/config.h
  cpp/include/ucxx/context.h
  cpp/include/ucxx/delayed_submission.h
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/future.h
  cpp/include/ucxx/inflight_requests.h
  cpp/include/ucxx/internal/request_am.h
  cpp/include/ucxx/listener.h
  cpp/include/ucxx/notifier.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_tag_multi.h
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/include/ucxx/worker.h
  cpp/python/include/ucxx/python/notifier.h
  cpp/python/include/ucxx/python/python_future.h
  cpp/python/include/ucxx/python/worker.h
  cpp/src/worker.cpp
  cpp/tests/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

v0.35 Updates [skip ci]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/ucxx-cuda118_arch-x86_64.yaml
  conda/recipes/ucxx/meta.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  fetch_rapids.cmake
  python/CMakeLists.txt
  python/pyproject.toml
  python/ucxx/__init__.py
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-python-codeowners

Enable ARM builds
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Enable ARM builds (#84)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Refactor CI port retry logic for C++, retry examples
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Fix shutdown of UCX getters Python async tests
  python/ucxx/_lib_async/tests/test_ucx_getters.py
Owners: @rapidsai/ucxx-python-codeowners

Process `ucxx::Endpoint::close()` in progress thread (#78)
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Execute command line variables by expanding them
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Add missing command line expansion
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Move Python async test utils to a module file
  python/ucxx/_lib_async/tests/test_config.py
  python/ucxx/_lib_async/tests/test_multiple_nodes.py
  python/ucxx/_lib_async/tests/test_reset.py
  python/ucxx/_lib_async/tests/test_send_recv.py
  python/ucxx/_lib_async/tests/test_send_recv_am.py
  python/ucxx/_lib_async/tests/test_send_recv_multi.py
  python/ucxx/_lib_async/tests/test_send_recv_two_workers.py
  python/ucxx/_lib_async/tests/test_shutdown.py
  python/ucxx/_lib_async/tests/test_ucx_getters.py
  python/ucxx/_lib_async/utils_test.py
Owners: @rapidsai/ucxx-python-codeowners

Fix command line expansion
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Refactor CI port retry logic for C++ and retry examples (#85)
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Add separate mutexes for `DelayedSubmissionCollection` internals
  cpp/include/ucxx/delayed_submission.h
  cpp/src/delayed_submission.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Separate `ucxx::DelayedSubmissionCollection` implementations
  cpp/include/ucxx/delayed_submission.h
  cpp/src/delayed_submission.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix shutdown of UCX getters Python async tests (#86)
  python/ucxx/_lib_async/tests/test_config.py
  python/ucxx/_lib_async/tests/test_multiple_nodes.py
  python/ucxx/_lib_async/tests/test_reset.py
  python/ucxx/_lib_async/tests/test_send_recv.py
  python/ucxx/_lib_async/tests/test_send_recv_am.py
  python/ucxx/_lib_async/tests/test_send_recv_multi.py
  python/ucxx/_lib_async/tests/test_send_recv_two_workers.py
  python/ucxx/_lib_async/tests/test_shutdown.py
  python/ucxx/_lib_async/tests/test_ucx_getters.py
  python/ucxx/_lib_async/utils_test.py
Owners: @rapidsai/ucxx-python-codeowners

CUDA 12.0 ARM conda support.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners
