Repository rapidsai/ucxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ops-codeowners

ucxx: Build CUDA 12.0 ARM conda packages. (#83)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Improve delayed submission collection template and children names
  cpp/include/ucxx/delayed_submission.h
  cpp/src/delayed_submission.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Document `BaseDelayedSubmissionCollection` constructor
  cpp/include/ucxx/delayed_submission.h
Owners: @rapidsai/ucxx-cpp-codeowners

Make `scheduleLog`/`processItem` methods `protected`
  cpp/include/ucxx/delayed_submission.h
Owners: @rapidsai/ucxx-cpp-codeowners

Remove redundant deleted constructors
  cpp/include/ucxx/delayed_submission.h
Owners: @rapidsai/ucxx-cpp-codeowners

Document `processPre()` ordering.
  cpp/include/ucxx/delayed_submission.h
Owners: @rapidsai/ucxx-cpp-codeowners

Specify whether resource is enabled at construction time
  cpp/include/ucxx/delayed_submission.h
  cpp/src/delayed_submission.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fixes
  cpp/include/ucxx/delayed_submission.h
  cpp/src/delayed_submission.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix usage of `Worker::cancelInflightRequests()` mutexes
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix usage of `Worker::cancelInflightRequests()` mutexes (#91)
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Properly check for `ucp_ep_create()` errors
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix missing `ucxx::Python::Future` include
  cpp/python/src/python_future.cpp
Owners: @rapidsai/ucxx-python-codeowners

Change initial `ucp_ep_create` status to `UCS_INPROGRESS`
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Make sure we hold locks when checking size of inflight requests
  cpp/src/inflight_requests.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Simplify callback notifier and provide spin-lock implementation
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Prevent deadlock in `cancelInflightRequests()`.
  cpp/include/ucxx/worker.h
  cpp/src/endpoint.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Select spinlock at runtime based on detected glibc version
  cpp/CMakeLists.txt
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/src/utils/callback_notifier.cpp
Owners: @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-cpp-codeowners

Tidy up naming and use static initialisation of workaround flag
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/src/utils/callback_notifier.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Simplify callback notifier and provide (optional) spin-lock implementation (#93)
  cpp/CMakeLists.txt
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/include/ucxx/worker.h
  cpp/src/endpoint.cpp
  cpp/src/inflight_requests.cpp
  cpp/src/listener.cpp
  cpp/src/utils/callback_notifier.cpp
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
Owners: @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-cpp-codeowners

WIP: Only one notifier per worker
  cpp/include/ucxx/utils/callback_notifier.h
  cpp/include/ucxx/worker.h
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/utils/callback_notifier.cpp
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Switch back from cuda-120-arm to branch-23.12 workflows.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Separate `ucxx::DelayedSubmissionCollection` implementations (#89)
  cpp/include/ucxx/delayed_submission.h
  cpp/src/delayed_submission.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Raise endpoint's error on peer info exchange error
  python/ucxx/_lib_async/application_context.py
  python/ucxx/_lib_async/listener.py
Owners: @rapidsai/ucxx-python-codeowners

Add a timeout to `exchange_peer_info`
  python/ucxx/_lib_async/exchange_peer_info.py
Owners: @rapidsai/ucxx-python-codeowners

Prevent early destruction of `ucxx::Endpoint`
  cpp/src/inflight_requests.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Do a roundtrip message transfer for test_send_recv_am
  python/ucxx/_lib_async/tests/test_send_recv_am.py
Owners: @rapidsai/ucxx-python-codeowners

Prevent `_run_request_notifier()` uncatched exceptions
  python/ucxx/_lib_async/notifier_thread.py
Owners: @rapidsai/ucxx-python-codeowners

Add UCP handle to create/destroy trace logging
  cpp/src/context.cpp
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

update workflow links
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Disable custom truncate behavior
  cpp/src/request_tag.cpp
  python/ucxx/_lib_async/tests/test_send_recv.py
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Check results of received messages on all clients
  python/ucxx/_lib_async/tests/test_send_recv_am.py
Owners: @rapidsai/ucxx-python-codeowners

Release lock early in `ucxx::InflightRequests.cancelAll()`
  cpp/src/inflight_requests.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Prevent `_run_request_notifier()` uncatched exceptions (#100)
  python/ucxx/_lib_async/notifier_thread.py
Owners: @rapidsai/ucxx-python-codeowners

Do a roundtrip message transfer for `test_send_recv_am` (#101)
  python/ucxx/_lib_async/tests/test_send_recv_am.py
Owners: @rapidsai/ucxx-python-codeowners

Add UCP handle to create/destroy trace logging (#102)
  cpp/src/context.cpp
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Prevent early destruction of `ucxx::Endpoint` (#99)
  cpp/src/inflight_requests.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

update workflow links (#103)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Disable custom truncate behavior (#105)
  cpp/src/request_tag.cpp
  python/ucxx/_lib_async/tests/test_send_recv.py
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Update `shared-workflows` to use `branch-23.12`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Add compiler('cuda') to ucxx builds.
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                              @rapidsai/ucxx-cpp-codeowners

#python code owners
python/                           @rapidsai/ucxx-python-codeowners

#cmake code owners
cpp/CMakeLists.txt                @rapidsai/ucxx-cmake-codeowners
cpp/python/CMakeLists.txt         @rapidsai/ucxx-cmake-codeowners
cpp/examples/CMakeLists.txt       @rapidsai/ucxx-cmake-codeowners
cpp/benchmarks/CMakeLists.txt     @rapidsai/ucxx-cmake-codeowners
cpp/tests/CMakeLists.txt          @rapidsai/ucxx-cmake-codeowners
python/CMakeLists.txt             @rapidsai/ucxx-cmake-codeowners
python/ucxx/_lib/CMakeLists.txt   @rapidsai/ucxx-cmake-codeowners
fetch_rapids.cmake                @rapidsai/ucxx-cmake-codeowners
**/cmake/                         @rapidsai/ucxx-cmake-codeowners

#build/ops code owners
.github/                          @rapidsai/ops-codeowners
ci/                               @rapidsai/ops-codeowners
conda/                            @rapidsai/ops-codeowners
