Repository rapidsai/ucxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                              @rapidsai/ucxx-cpp-codeowners

#python code owners
python/                           @rapidsai/ucxx-python-codeowners

#cmake code owners
cpp/CMakeLists.txt                @rapidsai/ucxx-cmake-codeowners
cpp/python/CMakeLists.txt         @rapidsai/ucxx-cmake-codeowners
cpp/examples/CMakeLists.txt       @rapidsai/ucxx-cmake-codeowners
cpp/benchmarks/CMakeLists.txt     @rapidsai/ucxx-cmake-codeowners
cpp/tests/CMakeLists.txt          @rapidsai/ucxx-cmake-codeowners
python/CMakeLists.txt             @rapidsai/ucxx-cmake-codeowners
python/ucxx/_lib/CMakeLists.txt   @rapidsai/ucxx-cmake-codeowners
fetch_rapids.cmake                @rapidsai/ucxx-cmake-codeowners
**/cmake/                         @rapidsai/ucxx-cmake-codeowners

#build/ops code owners
.github/                          @rapidsai/ops-codeowners
ci/                               @rapidsai/ops-codeowners
conda/                            @rapidsai/ops-codeowners

Generate pyproject.toml, clean up dependencies.
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-python-codeowners

Update versions/recipe logic.
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  python/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cmake-codeowners

Generate conda developer environment.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/environments/ucxx-cuda118_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Update pyproject.toml in update-version.sh.
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Add compiler('cuda') to ucxx builds. (#108)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Exchange peer info fixes (#98)
  python/ucxx/_lib_async/application_context.py
  python/ucxx/_lib_async/exchange_peer_info.py
  python/ucxx/_lib_async/listener.py
Owners: @rapidsai/ucxx-python-codeowners

Remove dask/distributed lower bound.
  dependencies.yaml
Owners: none

Increase CI number of files ulimit to 1M
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Increase CI number of files ulimit to 1M (#106)
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Update dependencies with `rapids-dependency-file-generator`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-python-codeowners

Update versions/recipe logic. (#109)
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/environments/ucxx-cuda118_arch-x86_64.yaml
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  python/CMakeLists.txt
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-python-codeowners

Ignore UCX run exports and allow `ucx>=1.14.1,<1.16.0`
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Ignore UCX run exports and allow `ucx>=1.14.1,<1.16.0` (#110)
  conda/recipes/ucxx/conda_build_config.yaml
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix linting
  cpp/python/include/ucxx/python/python_future_task.h
Owners: @rapidsai/ucxx-python-codeowners

update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Fix include
  python/CMakeLists.txt
  python/ucxx/examples/CMakeLists.txt
Owners: @rapidsai/ucxx-cmake-codeowners, @rapidsai/ucxx-python-codeowners
