Repository rapidsai/ucxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ops-codeowners

Add C++ tests for Active Messages
  cpp/tests/request.cpp
  cpp/tests/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Document `ucxx::RequestAM`
  cpp/include/ucxx/constructors.h
  cpp/include/ucxx/internal/request_am.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_am.h
  cpp/include/ucxx/worker.h
  cpp/src/request_am.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add Python interface for Active Messages
  cpp/python/src/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/tests/test_server_client.py
  python/ucxx/_lib/ucxx_api.pxd
  python/ucxx/_lib_async/endpoint.py
Owners: @rapidsai/ucxx-python-codeowners

Add `ucxx::Worker::amProbe`
  cpp/include/ucxx/worker.h
  cpp/src/worker.cpp
  cpp/tests/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use `shared_ptr` for `AmData::_worker``
  cpp/include/ucxx/internal/request_am.h
  cpp/src/request_am.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

DOC
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/ucxx-cuda118_arch-x86_64.yaml
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
  fetch_rapids.cmake
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cmake-codeowners

Add Python `amProbe` support
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/tests/test_probe.py
  python/ucxx/_lib/ucxx_api.pxd
  python/ucxx/_lib_async/endpoint.py
  python/ucxx/_lib_async/tests/test_probe.py
Owners: @rapidsai/ucxx-python-codeowners

Add different memory types support for Active Messages
  cpp/include/ucxx/constructors.h
  cpp/include/ucxx/delayed_submission.h
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/request_am.h
  cpp/src/delayed_submission.cpp
  cpp/src/endpoint.cpp
  cpp/src/request_am.cpp
  cpp/tests/request.cpp
  cpp/tests/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Make class name consistent
  cpp/include/ucxx/constructors.h
  cpp/include/ucxx/internal/request_am.h
  cpp/include/ucxx/request.h
  cpp/include/ucxx/request_am.h
  cpp/include/ucxx/worker.h
  cpp/src/endpoint.cpp
  cpp/src/internal/request_am.cpp
  cpp/src/request_am.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add RMM AM allocator to Python
  cpp/src/request.cpp
  cpp/src/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
  python/ucxx/_lib_async/tests/test_send_recv_am.py
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Fix `ucxx::RequestAm` trace logging
  cpp/include/ucxx/internal/request_am.h
  cpp/python/src/worker.cpp
  cpp/src/request_am.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Remove max CuPy version pin from conda package
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Remove max CuPy version pin from conda package (#49)
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix C++ listener tests (#43)
  ci/test_cpp.sh
  cpp/tests/listener.cpp
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cpp-codeowners

Fix endpoit timeout tests
  python/ucxx/_lib_async/tests/test_from_worker_address_error.py
Owners: @rapidsai/ucxx-python-codeowners

Add option to create `compile_commands.json` in build scripts
  build.sh
  build_and_run.sh
Owners: none

Make log level string names consistent with UCX
  cpp/include/ucxx/log.h
  cpp/src/log.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Simplify `ucxx::Endpoint::getWorker()`
  cpp/include/ucxx/endpoint.h
  cpp/src/endpoint.cpp
  cpp/src/request.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix enabling delayed submission and Python future (#47)
  build.sh
  cpp/include/ucxx/constructors.h
  cpp/include/ucxx/context.h
  cpp/include/ucxx/worker.h
  cpp/python/include/ucxx/python/constructors.h
  cpp/python/src/worker.cpp
  cpp/src/context.cpp
  cpp/src/worker.cpp
  cpp/tests/context.cpp
  cpp/tests/worker.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
  python/ucxx/_lib_async/application_context.py
  python/ucxx/_lib_async/tests/test_from_worker_address_error.py
  python/ucxx/_lib_async/tests/test_worker.py
  python/ucxx/core.py
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Fix typo and shorten `build.sh` help message
  build.sh
  cpp/include/ucxx/endpoint.h
Owners: @rapidsai/ucxx-cpp-codeowners

Throw in `_getWorker()` if argument is invalid
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix log level check condition
  cpp/src/log.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Raise Python errors when transferring if CUDA not available (#31)
  cpp/include/ucxx/context.h
  cpp/src/context.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/tests/test_config.py
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Require Numba 0.57.0+
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Require Numba 0.57.0+ (#51)
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Prevent canceling/freeing request that has completed
  cpp/src/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Prevent enabling delayed submission in non-thread progress mode
  python/ucxx/_lib_async/application_context.py
  python/ucxx/_lib_async/tests/test_worker.py
Owners: @rapidsai/ucxx-python-codeowners

Reenable several Python async tests in `build_and_run.sh`
  build_and_run.sh
Owners: none

Progress the worker when probing for tag
  cpp/src/worker.cpp
  python/ucxx/_lib_async/endpoint.py
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Docstrings fixes
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/worker.h
Owners: @rapidsai/ucxx-cpp-codeowners

Delete `ucxx::internal::RecvAmMessage` default/move/copy constructors
  cpp/include/ucxx/internal/request_am.h
Owners: @rapidsai/ucxx-cpp-codeowners

Various minor improvements (#50)
  build.sh
  build_and_run.sh
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/log.h
  cpp/src/endpoint.cpp
  cpp/src/log.cpp
  cpp/src/request.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag_multi.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Use more appropriate typecasting
  cpp/src/request_am.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Move declaration to initialization
  cpp/src/request_am.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Improve handling of `recvPool` and `recvWait`
  cpp/src/request_am.cpp
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Improve `waitRequests` C++ test util template
  cpp/tests/include/utils.h
Owners: @rapidsai/ucxx-cpp-codeowners

Improve Python logger string formatting
  python/ucxx/_lib_async/endpoint.py
Owners: @rapidsai/ucxx-python-codeowners

Inherit `ucxx::Component` by `ucxx::DelayedSubmission`
  cpp/include/ucxx/delayed_submission.h
  cpp/src/internal/request_am.cpp
  cpp/src/request_am.cpp
  cpp/src/request_stream.cpp
  cpp/src/request_tag.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Clarify the status of `ucxx::Request::getRecvBuffer()`
  cpp/include/ucxx/request.h
Owners: @rapidsai/ucxx-cpp-codeowners

Fix for API changes
  cpp/src/request_am.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                              @rapidsai/ucxx-cpp-codeowners

#python code owners
python/                           @rapidsai/ucxx-python-codeowners

#cmake code owners
cpp/CMakeLists.txt                @rapidsai/ucxx-cmake-codeowners
cpp/python/CMakeLists.txt         @rapidsai/ucxx-cmake-codeowners
cpp/examples/CMakeLists.txt       @rapidsai/ucxx-cmake-codeowners
cpp/benchmarks/CMakeLists.txt     @rapidsai/ucxx-cmake-codeowners
cpp/tests/CMakeLists.txt          @rapidsai/ucxx-cmake-codeowners
python/CMakeLists.txt             @rapidsai/ucxx-cmake-codeowners
python/ucxx/_lib/CMakeLists.txt   @rapidsai/ucxx-cmake-codeowners
fetch_rapids.cmake                @rapidsai/ucxx-cmake-codeowners
**/cmake/                         @rapidsai/ucxx-cmake-codeowners

#build/ops code owners
.github/                          @rapidsai/ops-codeowners
ci/                               @rapidsai/ops-codeowners
conda/                            @rapidsai/ops-codeowners
