Repository rapidsai/ucxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners, @rapidsai/ucxx-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                              @rapidsai/ucxx-cpp-codeowners

#python code owners
python/                           @rapidsai/ucxx-python-codeowners

#cmake code owners
cpp/CMakeLists.txt                @rapidsai/ucxx-cmake-codeowners
cpp/python/CMakeLists.txt         @rapidsai/ucxx-cmake-codeowners
cpp/examples/CMakeLists.txt       @rapidsai/ucxx-cmake-codeowners
cpp/benchmarks/CMakeLists.txt     @rapidsai/ucxx-cmake-codeowners
cpp/tests/CMakeLists.txt          @rapidsai/ucxx-cmake-codeowners
python/CMakeLists.txt             @rapidsai/ucxx-cmake-codeowners
python/ucxx/_lib/CMakeLists.txt   @rapidsai/ucxx-cmake-codeowners
fetch_rapids.cmake                @rapidsai/ucxx-cmake-codeowners
**/cmake/                         @rapidsai/ucxx-cmake-codeowners

#build/ops code owners
.github/                          @rapidsai/ops-codeowners
ci/                               @rapidsai/ops-codeowners
conda/                            @rapidsai/ops-codeowners

Fix `ucxx::Context` TLS config parser
  cpp/src/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Take `UCX_TLS` into account when testing `ucxx::Context`
  cpp/tests/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Test multiple `ucxx::Context` TLS configurations
  cpp/tests/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Signal the worker progress event from the worker progress thread (#28)
  cpp/include/ucxx/worker_progress_thread.h
  cpp/src/worker.cpp
  cpp/src/worker_progress_thread.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add a timeout argument to `progressWorkerEvent`
  cpp/benchmarks/perftest.cpp
  cpp/examples/basic.cpp
  cpp/include/ucxx/worker.h
  cpp/src/worker.cpp
  cpp/tests/utils.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Fix `ucxx::Context` TLS config parser and improve tests (#29)
  cpp/src/context.cpp
  cpp/tests/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add check for CUDA memory support in `ucxx::Context`
  cpp/src/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Expose `ucxx::Context::hasCudaSupport()` to Python
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-python-codeowners

Add method to query whether `ucxx::Context` has CUDA support
  cpp/include/ucxx/context.h
  cpp/src/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Test Python disable CUDA support
  python/ucxx/_lib/tests/test_config.py
Owners: @rapidsai/ucxx-python-codeowners

Raise when transferring CUDA arrays without CUDA support
  python/ucxx/_lib/libucxx.pyx
Owners: @rapidsai/ucxx-python-codeowners

Execute user's callback after setting request status
  cpp/src/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add C++ test checking request status during user callback
  cpp/tests/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Allow C++ tests binding to same port in `build_and_run.sh`
  build_and_run.sh
Owners: none

Avoid null pointer dereferencing in user callback request tests
  cpp/tests/request.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add missing memory type attribute to query UCP context for
  cpp/src/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Fix flags for disabled endpoint error handling
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Avoid unnecessary local `_cudaSupport` variable
  cpp/src/context.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

replace/remove python 3.8 for 3.9
  dependencies.yaml
  docker/README.md
  python/pyproject.toml
Owners: @rapidsai/ucxx-python-codeowners

missing updates
  conda/environments/ucxx-cuda118_arch-x86_64.yml
  conda/recipes/ucxx/conda_build_config.yaml
Owners: @rapidsai/ops-codeowners

Replace `std::bind` by lambda
  cpp/src/worker.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

update workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  fetch_rapids.cmake
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cmake-codeowners

update versions for `branch-0.32`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/ucxx-cuda118_arch-x86_64.yml
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
  docker/README.md
  docker/conda-build.sh
  fetch_rapids.cmake
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-cmake-codeowners

Remove local conda build files
  docker/README.md
  docker/conda-build.dockerfile
  docker/conda-build.sh
Owners: none

Rename conda environment file to `.yaml` extension
  conda/environments/ucxx-cuda118_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

Update conda environment RAPIDS pins
  conda/environments/ucxx-cuda118_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

Update `dependencies.yaml` RAPIDS pins
  dependencies.yaml
Owners: none

Update `meta.yaml` RAPIDS pin
  conda/recipes/ucxx/meta.yaml
Owners: @rapidsai/ops-codeowners

Update CI release script
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Fix conda environment RAPIDS pins
  conda/environments/ucxx-cuda118_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

Dropping Python 3.8 (#33)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/ucxx-cuda118_arch-x86_64.yml
  conda/recipes/ucxx/conda_build_config.yaml
  dependencies.yaml
  docker/README.md
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/ucxx-python-codeowners

Remove local conda build files (#35)
  docker/README.md
  docker/conda-build.dockerfile
  docker/conda-build.sh
Owners: none

Make pattern-matching more robust
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Squash memory leak in EpParamsDeleter
  cpp/src/endpoint.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Add a timeout argument to `progressWorkerEvent` (#30)
  cpp/benchmarks/perftest.cpp
  cpp/examples/basic.cpp
  cpp/include/ucxx/worker.h
  cpp/src/worker.cpp
  cpp/tests/utils.cpp
  python/ucxx/_lib/libucxx.pyx
  python/ucxx/_lib/ucxx_api.pxd
Owners: @rapidsai/ucxx-cpp-codeowners, @rapidsai/ucxx-python-codeowners

Update release script (#36)
  ci/release/update-version.sh
  conda/environments/ucxx-cuda118_arch-x86_64.yaml
  conda/recipes/ucxx/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Move addrinfo lookup into sockaddr_set
  cpp/src/endpoint.cpp
  cpp/src/utils/sockaddr.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Avoid memcpy when getting ip and port from sockaddr
  cpp/src/utils/sockaddr.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Simplify lifetime management of allocated sockaddr storage
  cpp/include/ucxx/endpoint.h
  cpp/include/ucxx/utils/sockaddr.h
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/utils/sockaddr.cpp
Owners: @rapidsai/ucxx-cpp-codeowners

Rename sockaddr_set to get_addrinfo
  cpp/include/ucxx/utils/sockaddr.h
  cpp/src/endpoint.cpp
  cpp/src/listener.cpp
  cpp/src/utils/sockaddr.cpp
Owners: @rapidsai/ucxx-cpp-codeowners
